[tool.black]
line-length = 100
target-version = ["py311"]
include = "\\.py$"

[tool.isort]
profile = "black"
line_length = 100
combine_as_imports = true

[tool.ruff]
line-length = 100
extend-exclude = ["streamlit_logs"]
select = ["E", "F", "W", "I", "B", "UP"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
follow_imports = "silent"
show_error_codes = true
